@page "/ascend"

<!-- YouTube Video Embed -->
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/EsYVQ-rcrWA"
            title="Ascend Demo Video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>
</div>

<!-- Bildgalerie -->
<div class="image-gallery">
    <div class="image-item">
        <p>Login/register window</p>
        <img src="images/AscendLogin.png" alt="Login"/>
    </div>

    <div class="image-item">
        <p>Home</p>
        <img src="images/Ascend1.png" alt="Home"/>
    </div>

    <div class="image-item">
        <p>News</p>
        <img src="images/Ascend2.png" alt="News"/>
    </div>

    <div class="image-item">
        <p>To-dos</p>
        <img src="images/Ascend3.png" alt="Todos"/>
    </div>

    <div class="image-item">
        <p>Friends</p>
        <img src="images/Ascend4.png" alt="Friends"/>
    </div>

    <div class="image-item">
        <p>Generate to-dos with AI</p>
        <img src="images/Ascend5.png" alt="Neptune7"/>
    </div>

    <div class="image-item">
        <p>Settings</p>
        <img src="images/Ascend6.png" alt="Settings"/>
    </div>
</div>