@page "/vesta"


<div class="image-gallery">
    <div class="image-item">
        <p>Login / Register window</p>
        <img src="images/VestaLoginWindow.png" alt="Login/Register" />
    </div>

    <div class="image-item">
        <p>Let's chat!</p>
        <img src="images/VestaChatWindow.png" alt="Chat" />
    </div>

    <div class="image-item">
        <p>Choose a wallpaper</p>
        <img src="images/VestaChatWindow2.png" alt="Choose a wallpaper" />
    </div>

    <div class="image-item">
        <p>Start a private chat</p>
        <img src="images/VestaPrivateChat2.png" alt="Private Chat" />
    </div>

    <div class="image-item">
        <p>Generate your emoji with AI</p>
        <img src="images/Vesta1.png" alt="Generate Emoji" />
    </div>

    <div class="image-item">
        <img src="images/Test1234.png" alt="Stable Diffusion" />
    </div>

    <div class="image-item">
        <p>Change your status</p>
        <img src="images/Vesta2.png" alt="Change Status" />
     </div>
</div>
